*
{
    font-size: 15px;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    color: aquamarine;
    background-color: #444;
}

header {
    width: 70%;
    height: 350px;
    padding: 1.2rem;
    margin: 30px auto;
    color: aquamarine;
    background-color: #444;
}
h1 {
    margin: 50px 0 100px 0;
    font-size: 30px;
}

.contenido {
    font-size: 10px;
}

.textHome {
    font-size: 18px;
    color: rgb(175, 175, 175);
}

.sectionHome{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    background-color: #faebd7;
}

.titleMain {
    padding: 30px;
    padding-bottom: 50px;
    font-size: 27px;
    color: #555;
}

.sectionHome li {
    display: inline-block;
    margin: 8px 22px;
    padding: 10px 20px;
    border: 1.5px solid salmon;
    border-radius: 3px;
    font-size: 14px;
    list-style: none;
    color: #555;
}

.sectionHome ul :nth-child(4) {
    margin-bottom: 50px;
}
.sectionHome li:hover {
    color: #000;
    background-color: #00000022;
    transition: 0.5s;
}
